<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1><%= title %></h1>
    <nav>
        <a href="/"><div class="nav-links">[ Home ]</div></a>
        <a href="/routes"><div class="nav-links">[ Route Index ]</div></a>
        <a href="/stops"><div class="nav-links">[ Stop Index ]</div></a>
        <a href="/trips"><div class="nav-links">[ Trip Index ]</div></a>
        <a href="/new/step1"><div class="nav-links">[ New Trip ]</div></a>
    </nav>
    <br><br>